timeout=5
insmod all_video

menuentry "AxonOS" {
    set gfxmode=1280x1024x32,1024x768x32,800x600x32,auto
    set gfxpayload=keep
    multiboot2 /boot/axonos.elf
    echo "Loading initfs archive, please wait..."
    module2 /boot/initfs.cpio initfs
    echo "loaded."
}